<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>asdasdasd</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <javaposse.jobdsl.plugin.ExecuteDslScripts plugin="job-dsl@1.40">
      <scriptText>import hudson.model.*

def build = Thread.currentThread().executable
def buildNumber = build.number
def name = &apos;Job_&apos; + Integer.toString(buildNumber)
  
multiJob(name) {
    steps {
        phase(&apos;First&apos;) {
            phaseJob(&apos;JobZ&apos;) {
                parameters {
                    propertiesFile(&apos;my1.properties&apos;)
                }
            }
        }
    }
}</scriptText>
      <usingScriptText>true</usingScriptText>
      <ignoreExisting>false</ignoreExisting>
      <removedJobAction>IGNORE</removedJobAction>
      <removedViewAction>IGNORE</removedViewAction>
      <lookupStrategy>JENKINS_ROOT</lookupStrategy>
      <additionalClasspath></additionalClasspath>
    </javaposse.jobdsl.plugin.ExecuteDslScripts>
    <hudson.tasks.Shell>
      <command></command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>